/* verFilme */

.container,
.container2 {
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}


.busca {
    padding: 20px;
}

.buscarInput {
    width: 90%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.336);
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 20px;
}

.novoFilme {
    background-color: rgb(255, 94, 0);
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
}

.inputs {
    padding: 8px;
}

.filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    color: #ffffff;
    width: 250px;
    height: 370px;
    border-radius: 20px;
    background-color: #1E3888;
    padding: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.editar {
    height: 10%;
}

img {
    width: 100%;
    height: 60%;
}

h4 {
    font-size: 20px;
    color: #FFF275;
}

label {
    font-size: 17px;
    color: #FF8C42;
}

.ingressos {
    color: #ffffff;
    text-transform: uppercase;
}

.editar,
.deleta {
    background-color: red;
    padding: 5px;
    color: white;
}

/* addfilme */

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 3px 1px 30px;
    background-color: #ffffff;
    height: 50vh;
    width: 40vw;
    overflow: hidden;
}


.formCard {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    height: 90%;
    gap: 20px;
}

.esqueda,
.direita {
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    width: 50%;               
    height: 100%;          
    box-sizing: border-box;
}

.inpute{
    padding: 5px;
    border: solid #1E3888;
    border-radius: 6px;
    margin: 10px;
    height: 3.5vh; 
    width: 9vw;
}
.botaoCadastra{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #3f60c4;
    border-radius: 5px;
    color: #ffffff;
    height: 4vh;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
}

.botaoCadastra:hover{
    background-color: #1E3888;
}

label {
    display: block;
    margin-bottom: 0.5em; 
    color: #205cf5; 
    font-size: 21px;
  }
  .botaoWrapper {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    width: 100%;             /* ocupa toda a largura da caixa */
    margin-top: 20px;        /* opcional, para dar espaço acima */
}

.imgIcon {
    height: 27vh;
}
