body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/assets/img/fundoLogin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
h2{
    font-weight: bold;
    color: #56d2f1;
}

.containerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffffa1;
    padding: 20px;
    height: 70%;
    width: 30%;

}

.login{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
    gap: 30px;
}
label{
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    padding: 10px;
    font-size: 17px;
    width: 95%;
    border-radius: 10px;
    border-width: 3px;
    border-color: #84d2f7;
    font-weight: bold;
    color: #84d2f7;
}

.botoes{
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #84d2f7;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
    border: 0;

}

.botao{
    margin-top: 10px;
}

p{
    text-transform: lowercase;
    color: #57c6f1;
}
.link{
    color: #1f1d1d;
}


