body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kpis{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 15vh;
    padding: 10px;
    background-color: rgb(238, 130, 29);
    border-radius: 20px;
    gap: 10px;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 107, 8, 0.514);
}
.cardText {
    text-transform: capitalize;
    color: white;
    margin: 0;
}

.cardN {
    color: white;
    font-size: 20px;
}

.graficos {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

.chart {
    flex: 1 1 45%;
    min-width: 300px;
    height: 500px;
    margin: 10px;
    width: 800px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(255, 200, 148, 0.71);
}
