.kpis{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 15vh;
    padding: 10px;
    background-color: rgb(255, 53, 53);
    border-radius: 20px;
    gap: 10px;
}

.cardText {
    text-transform: capitalize;
    color: white;
    margin: 0;
}

.cardN {
    color: white;
    font-size: 20px;
}

.graficos {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

.chart {
    flex: 1 1 45%;
    min-width: 300px;
    height: 500px;
    margin: 10px;
    width: 800px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.603);
}

.pdfGenero, .pdfGrafico, .csvGenero, .csvGrafico {
    position: absolute;
    background-color: rgb(255, 53, 53);
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    text-transform: capitalize;
    color: white;
}

.pdfGenero{
    bottom: 5vh;
    left: 85vh;
}

.pdfGrafico{
    bottom: 5vh;
    left: 200vh;
}

.csvGenero {
    bottom: 5vh;
    left: 75vh;
}

.csvGrafico {
    bottom: 5vh;
    left: 190vh;
}
