

.container-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
}

img{
    width: 200px;
    height: 200px;
}

.card{
    color: #ffffff;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    background-color: #87d1e7;
    padding: 40px;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 60px;
}
.card:hover{
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transform: translateY(-5px);
}
img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
h4{
    font-size: 20px;
    color: #044880;
}
label{
    font-size: 17px;
    color: #007fd3;
    font-weight: 600;
}
.ingressos{
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}
a{
    
    color: rgb(150, 3, 3);
}