

.container-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

img{
    width: 200px;
    height: 200px;
}

.card{
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: white;
}