body{
    background-color: #ffffff;
}
.containerCarrousel {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.carousel {
    padding: 20px;
    display: flex;
    width: 50%;
    height: 560px;
}
h2{
    color: #73d2f8;
    font-weight: 800;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h12 {
    position: absolute;
    top: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #73d2f8;
}

.cataz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}


.filme-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    width: 70%;
    height: 300px;
    border-bottom: 3px solid rgba(0, 0, 0, .5);
}

.card55 {
    width: 1200px;
    display: flex;
}

.img2 {
    width: 150px;
    height: 220px;

    border-radius: 10px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.if {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}
label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}