.container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 20px;
    width: 70%;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    background-color: white;
}


.if{
    flex: 1;
 
}


.sessoes{
    display: flex;
}

select{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(137, 43, 226, 0.683);
    color: white;
    text-transform: capitalize;
}

.imagem{
    padding: 10px;
}

.botos{
    display: flex;
    align-items: center;
    position: relative;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
    overflow: scroll;
    gap: 10px;
}

.botos::-webkit-scrollbar {
    display: none;
}

/* button{
    padding: 10px;
    font-size: 20px;
    background-color: rgba(61, 61, 249, 0.71);
    color: white;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
} */

.card2{
    display: flex;
    border: 1px solid black;
    width: 35%;
    height: 60%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.card2:hover {
    background-color: black;
    color: white;
}