.container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 20px;
    width: 70%;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    background-color: white;
}


.if{
    flex: 1;
 
}


.sessoes{
    display: flex;
    border: 1px solid black;
    padding: 60px;

}
h1{
    color: rgb(0, 113, 133);
    font-weight: 800;

}

select{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 20%;
    background-color: #87d1e7;
    color: rgb(0, 0, 0);
    border: 0;
    text-transform: capitalize;
}
select:hover{
    background-color: rgb(102, 182, 253);
    transition: 1.5s;
    color: #ffffff;
}
.imagem{
    padding: 10px;
}
img{
     border-radius: 20px;
}
.botos{
    display: flex;
    align-items: center;
    position: relative;
    height: 350px;
    padding: 10px;
    overflow: scroll;
    border: #87d1e7 2px solid;
    gap: 10px;
}

.botos::-webkit-scrollbar {
    display: none;
}

/* button{
    padding: 10px;
    font-size: 20px;
    background-color: rgba(61, 61, 249, 0.71);
    color: white;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
} */

.card2{
    display: flex;
    border: 1px solid black;
    width: 35%;
    height: 60%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

.card2:hover {
    background-color: black;
    color: white;
}