.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95%;
}

.card-perfil{
    width: 70%;
    height: 60%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.image{
    position: absolute;
    top: 10px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid black;
}

.from-update{
display: flex;
height: 90%;
}

.lados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.texto{
    display: flex;
    width: 70%;
    margin-top: 10px;
    flex-direction: column;
}

.input{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 5px;
}

h3{
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
}
.edita{
    color: #FF3C38;
    text-decoration: none;

}
.sai{
    color: #1E3888;
    text-decoration: none;
}