.container {
    padding: 20px;
    
}
.dev{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 20px;
    border-bottom: 5px solid rgb(0, 0, 0);
}
strong{
    font-weight: bolder;
    font-size: 50px;
    color: #87d1e7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.cads {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;

}

.if {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-end-end-radius: 20px;
}

.cardao {
    width: 70%;
    height: 350px;
    display: flex;
    
}

.img2 {
    width: 50%;
    
}

.content {
    background-color: rgba(0, 204, 255, 0.103);
    width: 50%;
}

.card {
    width: 200px;
    border-radius: 17px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.imagem {
    width: 100%;
    height: 200px;
}

.contatos {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.icon {
    cursor: pointer;

}

.formulario {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    gap: 25px;
}
.cadImg{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #263438;
}


.inputs{
    padding: 5px;
    width: 50%;
    font-size: 17px;
    border-radius: 10px;
    border-width: 0;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #007194;
}


button{
    border-radius: 17px;
    color: rgb(0, 0, 0);
    background-color: #f9f9f9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    border-width: 2px solid;
    border-color: #87d1e7;
    margin-left: 70%;
    
}