.container {
    padding: 20px;
    
}
.dev{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 20px;
    border-bottom: 10px solid rgba(70, 6, 6, 0.913);
}
strong{
    font-weight: bolder;
    font-size: 50px;
    color: #f9f9f9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:0px 2px 4px #721313;
    
}
.cads {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;

}

.if {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-end-end-radius: 20px;
}

.cardao {
    width: 70%;
    height: 350px;
    display: flex;
    
}

.img2 {
    width: 50%;
    
}

.content {
    background-color: white;
    
    width: 50%;
}

.card {
    width: 200px;
    border-radius: 17px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.imagem {
    width: 100%;
    height: 200px;
}

.contatos {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.icon {
    cursor: pointer;

}

.formulario {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    gap: 5px;
}
.cadImg{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    
    
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3d0808;
}
.textLabel {
    padding: 5px;
    font-size: 17px;
    color:#1d0505;
}

.inputs{
    padding: 5px;
    width: 50%;
    font-size: 17px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0px 4px 5px rgba(109, 3, 3, 0.644);
}


button{
    border-radius: 17px;
    color: rgb(0, 0, 0);
    background-color: #f9f9f9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0px 2px 5px rgb(123, 6, 6);
    padding: 10px;

    font-size: 17px;
    cursor: pointer;
    border: 0;
    margin-left: 70%;
    
}