body {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    height: 100vh;
}

nav {
    display: flex;
    background-color: #400A14;
    border: 1px solid black;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
   
}

.logo-nav {
    color: brown;
    margin: 0;
    font-size: 40px;
    text-shadow:
        -1px -1px 0 var(--text--sombra),
        1px -1px 0 var(--text--sombra),
        -1px 1px 0 var(--text--sombra),
        1px 1px 0 var(--text--sombra);
}
.nomeNav{
    width: 80%;
    height: 100%;
    object-fit: contain;
}
ul {
    width: 60%;
    margin: 0;
    display: flex;
    list-style: none;
   
    justify-content: space-evenly;
}



li a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    text-transform: uppercase;
}


li {
    padding: 15px;
}

li a:hover {
    background-color: rgb(101, 7, 7);
    color: #ffffff;

}

.login {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.login-text{
    background-color: #ffffff;
    text-decoration: none;
    padding-right: var(--text--paddingL);
    padding-left: var(--text--paddingL);
    padding-bottom: var(--text--paddingA);
    padding-top: var(--text--paddingA);
    border-radius: 5px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.login-text:hover{
    background-color: rgb(105, 8, 8);
    color: rgb(244, 244, 244) ;
}

:root {
    --text--sombra: rgba(0, 0, 0, .5);
    --text--paddingL: 35px;
    --text--paddingA: 5px;
    --cor1:#01012e;
    --cor2: #020248;
}