.body2 {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.836);
    height: 100vh;
}

nav {
    display: flex;
    background-color:rgba(255, 217, 152, 0.71);
    border-bottom: 1px solid white;
    width: 100%;
    height: 12vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul {
    width: 60%;
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

li {
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgba(255, 115, 0, 0.808);
}

li:hover {
    color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.menu {
    display: var(--display--menu);
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    border: 1px solid white;
    border-right: none;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

:root {
    --display--menu: none;
}

.icons {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
}

.perfil-tex {
    width: 7vh;
}

.x {
    width: 5vh;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 10px;
    
}

.escolha {
    width: 50%;
}

.escolha a {
    font-size: 25px;
    text-transform: capitalize;
    width: 100%;
    color: rgb(0, 0, 0);
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.logo-nav {
    color: #ff9f38;
    margin: 0;
    font-size: 40px;
    text-shadow:
        -1px -1px 0 var(--text--sombra),
        1px -1px 0 var(--text--sombra),
        -1px 1px 0 var(--text--sombra),
        1px 1px 0 var(--text--sombra);
}


.login {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.login-text {

    text-decoration: none;
    padding-right: var(--text--paddingL);
    padding-left: var(--text--paddingL);
    padding-bottom: var(--text--paddingA);
    padding-top: var(--text--paddingA);
    border-radius: 5px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.login-text:hover {
    color: #FF8C42;
}

:root {
    --text--sombra: rgba(0, 0, 0, .5);
    --text--paddingL: 35px;
    --text--paddingA: 5px;
    --cor1: #01012e;
    --cor2: #020248;
}

.perfil a {
    font-size: 17px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.perfil a:hover {
    color: #FFF275;
}